<footer class="footer-with-particles">
    <div id="particles-js"></div>
    <div class="container">
        <div class="footer-content">
            <div class="profile-photo">
                {{ $image := resources.Get "images/erik_square_compressed.png" }}
                {{ if $image }}
                    <img src="{{ $image.Permalink }}" alt="My Image" class="profile-img">
                {{ end }}
            </div>
            <div class="footer-right">
                <div class="social-links">
                    <a href="https://medium.com/@eriktuck" target="_blank" title="Medium"><span class="social-icon">Medium</span></a>
                    <a href="https://github.com/eriktuck/eriktuck" target="_blank" title="GitHub"><span class="social-icon">GitHub</span></a>
                    <a href="https://www.linkedin.com/in/eriktanderson/" target="_blank" title="LinkedIn"><span class="social-icon">LinkedIn</span></a>
                    <a href="https://drive.google.com/file/d/1HFg3CzHDNV6-Gp8qIni8FXtHL6rvkZUy/view?usp=sharing" target="_blank"><span class="social-icon">Resume</span></a>
                </div>
                <p>&copy; {{ now.Format "2006" }} {{ .Site.Params.author }}</p>
            </div>
        </div>
    </div>
</footer>
